body{
    font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: 1.125em;
}

h1{
    text-transform: uppercase;
    font-size: 6em;
    margin: .25em 0;
}

h1 a{
    text-decoration: none;
}

@media (max-width: 60em){
    h1{
        font-size: 3em;
    }
}

h2{
    font-size: 1.4em;
}

p.intro{
    margin-bottom: 2em;
    font-size: 1.75em;
    line-height: 1.25em;
}

a{
    color: #000;
}

/* sections */

#calendar{
    background: #e5ecf9;
}

#forms{
    background: #f8f2f5;
}

#mailchimp{
    background: #ededed;
}

#petitions-links{
    background: #f9e1d6;
}

/* action types */

.anti_trump.action{
    background: #ffd394;
}

.anti_trump.action .action-number{
    color: #ffd394;
}

.electoral.action{
    background: #c4e8f7;
}

.electoral.action .action-number{
    color: #c4e8f7;
}

.mindfulness.action{
    background: #d9d9f4;
}

.mindfulness.action .action-number{
    color: #d9d9f4;
}

.two_hours.action{
    background: #efefef;
}

.two_hours.action .action-number{
    color: #efefef;
}

.personal.action{
    background: #fff3b4;
}

.personal.action .action-number{
    color: #fff3b4;
}

.policy.action{
    background: #d2f0d4;
}

.policy.action .action-number{
    color: #d2f0d4;
}

.stops_and_checks.action{
    background: #ffe3e8;
}

.stops_and_checks.action .action-number{
    color: #ffe3e8
}

.wrapper{
    width: 90%;
    max-width: 960px;
    margin: 1em auto;
    box-sizing: border-box;
}

.border{
    border: .5rem solid #000;
}

.inner-wrap{
    margin: 0 auto;
    width: 75%;
    padding: 2em 0;
}

@media (max-width: 60em){
    .wrapper{
        width: 95%;
    }
    .inner-wrap{
        width: 90%;
    }
}

/* Actions */

.action{
    border: .5em solid #000;
    position: relative;
    padding-top: 2em;
    padding-bottom: 2em;
}

@media (max-width: 60em){
    .action{
        padding-top: 0;
    }
}

.action .action-number{
    float: left;
    background: #000;
    color: #fff;
    width: 25%;
    position: absolute;
    top: 0;
    bottom: 0;
}

.action h3, h2{
    font-size: 2em;
    font-weight: bold;
}

@media (max-width: 60em){
    .action .action-number{
        float: none;
        width: 100%;
        position: static;
    }
}

.action .action-number .inner{
    position: absolute;
    top: 50%;
    left: 50%;
    top: 6rem;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0%);
    text-align: center;
}

@media (max-width: 60em){
    .action .action-number .inner{
        position: static;
        top: 0;
        left: 0;
        transform: none;
        -webkit-transform: none;
    }
}

.action .action-number .number{
    font-size: 4em;
    font-weight: 600;
}

.action main{
    padding-left: 35%;
    padding-right: 5%;
    font-size: .75em;
}

.further-info{
    display: none;
}

#actions.expanded .further-info{
    display: block;
}

@media (max-width: 60em){
    .action main{
        padding-left: 1em;
    }
}

.slick-arrow{
    position: absolute;
    top: 3em;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(0, -65%);
    font-size: 3em;
    font-weight: bold;
}

.slick-arrow:hover{
    cursor: pointer;
}

.slick-next{
    right: -1em;
}

.slick-prev{
    left: -1em;
}

@media (max-width: 60em){
    .slick-arrow{
        font-size: 1em;
        top: 1.75em;
        font-size: 2em;
        color: #fff;
    }
    .slick-next{
        right: 1em;
    }
    .slick-prev{
        left: 1em;
        z-index: 1;
    }
}

/* Mailchimp */

#mc_embed_signup h2{
    font-size: 2em !important;
}

#mc_embed_signup{
    border: .5em solid #000;
    padding: 1em;
}

@media (max-width: 60em){
    #mc_embed_signup {
        border: .5em solid #000;
    }
}

.mc-field-group{
    width: 100%;
}

.mc-field-group label{
    width: 100%;
    display: block;
    font-weight: bold;
    margin-bottom: .5em;
}

.mc-field-group label[for="mce-group[1279]-1279-0"], .mc-field-group label[for="mce-EMAILTYPE-0"], .mc-field-group label[for="mce-EMAILTYPE-1"]{
    display: inline;
    margin-right:10px;
}

.mc-field-group.size1of2{
    float: none !important;
}

.mc-field-group input[type="text"], .mc-field-group input[type="email"]{
    display: block;
    width: 100%;
    margin-bottom: 1.5em;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 1em;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

#mc-embedded-subscribe{
    color: #fff;
    background: #4285f4;
    border: 0;
    padding: .25em;
    font-size: 1em;
}

#mc_embed_signup .button{
    background: #4285f4 !important;
}

.mc-field-group ul{
    padding: 0;
}

.mc-field-group ul li{
    list-style: none;
    margin-bottom: .75em;
}

#mc_embed_signup .asterisk{
    color: #000 !important;
}

#phone-number-label{
    white-space: nowrap;
}

/* Google Forms */

.styled-select{
    font-size: 1em;
    background: #fff;
    border: .125em solid #000;
    margin-bottom: 1em;
}

#form-container{
    opacity: 1;
    transition: opacity .5s ease-in-out;
}

#form-container.hidden, .hidden{
    display: none;
    height: 0;
    transition: height .5s ease-in-out;
    -moz-transition: height .5s ease-in-out;
}

.embed-container{
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}

.embed-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 60em){
    .forms-desktop{
        display: none;
    }
    .forms-mobile{
        display: block;
    }
}

@media (min-width: 61em){
    .forms-desktop{
        display: block;
    }
    .forms-mobile{
        display: none;
    }
}

.footer{
    padding: 1em 0;
}

.footer-copyright{
    margin-top: 4em;
    color: #aaa;
    float: right;
    margin-top: 0em;
}

.footer .social-links{
    float: left;
}

.social-links img{
    margin: 0 .25em;
    width: 32px;
    height: 32px;
}

.footer-link{
    position: relative;
    font-size: .825em;
    color: #fff;
    background: #000;
    text-decoration: none;
    font-weight: bold;
    padding: .5em 1em;
    border-radius: 1.25em;
    -webkit-border-radius: 1em;
    top: -.75em;
    border: 0;
}

#donate-button{
    display: inline;
}

#donate-button:hover{
    cursor: pointer;
}

.action-link{
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.125em;
    padding-bottom: 1em;
    color: #000;
    text-decoration: none;
}

.action .action-link{
    font-size: 1.25rem;
}

a.action-link:hover{
    cursor: pointer;
}

.action-link:focus { outline: 0; }

.action-link.active .fa{
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.status-message{
    font-size: 2.5em;
    position: absolute;
    top: 0;
    right: 0;
    background: #000;
    color: #fff;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

@media (max-width: 60em){
    .electoral.action .slick-arrow{
        color: #badff1;
    }
    
    .anti_trump.action .slick-arrow{
        color: #fece82;
    }
    
    .mindfulness.action .slick-arrow{
        color: #badff1;
    }
    
    .two_hours.action .slick-arrow{
        color: #efeff1;
    }
    
    .personal.action .slick-arrow{
        color: #fef991;
    }
    
    .policy.action .slick-arrow{
        color: #d2f0d4;
    }
}